*, ::after, ::before {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Roboto","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background-color: #fff;

    padding: 10px 0;
    color: #3C3C3C;

    min-width: 320px;
    width: 100%;
    /*max-width: 100%;*/
    overflow-x: hidden;
    max-width: 100vw !important;
}

img {
    vertical-align: middle;
    border-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

p {
    margin-top: 0;
    margin-bottom: 8px;
}

a {
    color: #000;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1, .h1 {
    font-size: 2.5rem;
}

h2, .h2 {
    font-size: 2rem;
}

h3, .h3 {
    font-size: 1.75rem;
}

h4, .h4 {
    font-size: 1.5rem;
}

h5, .h5 {
    font-size: 1.25rem;
}

h6, .h6 {
    font-size: 1rem;
}

label {
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 0;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

/* grid */
[class*="col-"] {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 576px) {
    .col-sm {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
    .col-sm-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }
    .col-sm-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }
    .col-sm-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .col-sm-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-sm-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .col-sm-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    .col-sm-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-sm-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .col-sm-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .col-sm-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-sm-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
    .col-sm-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }
    .col-sm-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .order-sm-first {
        -ms-flex-order: -1;
        order: -1;
    }
}

@media (min-width: 768px) {
    .col-md {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
    .col-md-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }
    .col-md-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }
    .col-md-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .col-md-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-md-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .col-md-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-md-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .col-md-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .col-md-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-md-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
    .col-md-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }
    .col-md-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .col-lg {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
    .col-lg-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }
    .col-lg-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }
    .col-lg-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .col-lg-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-lg-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .col-lg-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    .col-lg-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-lg-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .col-lg-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .col-lg-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-lg-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
    .col-lg-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }
    .col-lg-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 1200px) {
    .col-xl {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
    .col-xl-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }
    .col-xl-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }
    .col-xl-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .col-xl-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-xl-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .col-xl-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    .col-xl-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-xl-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .col-xl-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .col-xl-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-xl-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
    .col-xl-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }
    .col-xl-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
    border-top: 2px solid #dee2e6;
}

.table-borderless th,
.table-borderless td,
.table-borderless thead th,
.table-borderless tbody + tbody {
    border: 0;
}
/* grid */

/* text-formated */
.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

@media (min-width: 576px) {
    .text-sm-left {
        text-align: left !important;
    }
    .text-sm-right {
        text-align: right !important;
    }
    .text-sm-center {
        text-align: center !important;
    }
}

@media (min-width: 768px) {
    .text-md-left {
        text-align: left !important;
    }
    .text-md-right {
        text-align: right !important;
    }
    .text-md-center {
        text-align: center !important;
    }
}

@media (min-width: 992px) {
    .text-lg-left {
        text-align: left !important;
    }
    .text-lg-right {
        text-align: right !important;
    }
    .text-lg-center {
        text-align: center !important;
    }
}

@media (min-width: 1200px) {
    .text-xl-left {
        text-align: left !important;
    }
    .text-xl-right {
        text-align: right !important;
    }
    .text-xl-center {
        text-align: center !important;
    }
}
/* text-formated */

.img-fluid {
    max-width: 100%;
    height: auto;
}

form.new_external_widget_pre_booking_form, .info_content {
    max-width: 870px;
    margin: 0 auto;
}


.form-control {
    display: block;
    width: 100%;
    height: calc(1.7em + .98rem);
    padding: .575rem .75rem;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #ced4da;
    border-radius: 0.20rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control:disabled {
    background-color: #e9ecef;
    opacity: 1;
    cursor: not-allowed;
}

.form-control.is-invalid, .was-validated .form-control:invalid {
    border-color: #dc3545;
}

.form-control.is-valid, .was-validated .form-control:valid {
    border-color: #28a745;
}

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.form-group {
    margin-bottom: 1rem;
}

textarea {
    min-height: 80px;
    max-width: 100%;
    resize: vertical;
}

.checkbox {
    color: #717278;
    font-weight: normal;
}

.checkbox input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 7px;
}
.checkbox span {
    position: relative;
    padding: 0 0 0 30px;
    cursor: pointer;
    display: inline-block;
}
.checkbox span:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #EFEFEF;
    background: #FFF;
}
.checkbox span:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 9px;
    background: #3C3C3C;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 #3C3C3C, 4px 0 0 #3C3C3C, 4px -2px 0 #3C3C3C, 4px -4px 0 #3C3C3C, 4px -6px 0 #3C3C3C, 4px -8px 0 #3C3C3C;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    opacity: 0;
}
.checkbox.checked span:after {
    opacity: 1;
}

i.icon_metro {
    width: 26px;
    height: 21px;
    display: inline-block;
    float: left;
    vertical-align: middle;
    margin: 0 0 0 -5px;
    transform: translateY(-4px);
}

i.icon_walk {
    background: url("../icons/walk.svg") no-repeat 0 0;
    width: 13px;
    height: 20px;
    display: inline-block;
    margin-bottom: -5px;
}

i.icon_success {
    width: 20px;
    height: 12px;
}

#wrapper {
    padding: 0 10px 10px;
}

.title {
    color: #4697C7;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px;
}

.title-item-status-free {
    font-size: 18px;
    color: #7BB437;
    border: 2px solid #7BB437;
    padding: 14px 22px;
    border-radius: 0;
    cursor: not-allowed;
    display: inline-block;
}

.slick-list {
    max-height: 200px;
}

.slick-slide {
    height: 200px;
    overflow: hidden;
}

.slick-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* btn */
.btn-primary {
    background: inherit;
    color: #7BB437;
    font-size: 16px;
    border: 2px solid #7BB437;
    padding: 14px 22px;
    border-radius: 0;
    cursor: pointer;
}

.btn-primary:hover {
    background: #7BB437;
    border-color: inherit;
    color: #fff;
}

.btn-primary:focus,
.btn-primary:hover {
    outline: none;
    box-shadow: none;
}

.btn-primary:hover path {
    fill: #fff;
}

.btn-primary[disabled] {
    background: none!important;
    color: #ADADAD;
    border-color: #ADADAD;

    cursor: not-allowed;
}

.btn.btn-status-free {
    font-size: 18px;
}

a.btn {
    display: inline-block;
    text-decoration: none;
}

.price_content {
    font-size: 20px;
    padding-bottom: 12px;
}

.price_content .price {
    font-weight: bold;
}

.price_content .price sup {
    font-size: 22px;
    line-height: 20px;
    color: #E53840;

    position: relative;
    top: -2px;
    left: -2px;
}

.form_content {
    padding-top: 40px;
}

input.select_date {
    padding-left: 40px;
    background: url("../icons/calendar.svg") no-repeat 14px 10px;
    cursor: pointer;
}

@media (min-width: 767px) {
    input.select_date {
        width: 215px;
    }

    .date_content .column_left .form-group {
        float: right;
    }
}

.date_info p {
    color: #C81639;
    font-size: 16px;
    margin-bottom: 5px;
}

.hotel_address {
    font-size: 16px;
    margin-bottom: 20px;
}


.success_content .title {
    padding-bottom: 40px;
}


.order_content {
    padding-top: 35px;
}

.order_content .number {
    font-size: 24px;
    font-weight: bold;
}

ul.clock_choice {
    padding: 0;
    margin-bottom: 30px;
}

ul.clock_choice li {
    display: inline-block;
    padding: 0 5px;
}

ul.clock_choice li a {
    color: #4697C7;
    text-decoration: underline;
}

/* hotel info */
@media(min-width: 767px) {
    .info_hotel {
        padding-top: 10px;
    }
}

.info_hotel table td {
    padding: 0.25rem 0;
}

@media (max-width: 570px) {
    .info_hotel table td {
        font-size: 0.9rem;
    }
}

@media (max-width: 370px) {
    .info_hotel table td {
        font-size: 0.7rem;
    }
}

.info_hotel td.var_hotel,
.info_hotel td.var_time {
    color: #909090;
    font-weight: 400;
}

.info_hotel td.distance {
    color: #4697C7;
    font-size: 13px;
}

.info_hotel td.metro {
    font-size: 13px;
}

.form_info {
    color: #717278;
    font-size: 12px;
    margin-bottom: 16px;
}

.info_content {
    color: #3C3C3C;
    font-size: 12px;
}

.info_content a {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.info_content sup {
    font-size: 14px;
    color: #E53840;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

/* list style */
.comfort_content h3 {
    padding-bottom: 20px;
}

ul.comfort li {
    font-size: 14px;
    color: #4697C7;
    list-style: none;
    padding-bottom: 24px;
    position: relative;
    padding-left: 30px;
}

ul.comfort li:before {
    position: absolute;
    left: 0;
    top: -2px;
    width: 24px;
    height: 24px;
    background: url("../icons/list.svg") no-repeat;
    content: "";
}

@media(max-width: 767px) {
    .comfort_content h3 {
        display: none;
    }

    ul.comfort li {
        font-size: 13px;
        padding-bottom: 20px;
    }

    /*.comfort_content {*/
    /*    margin-bottom: -20px;*/
    /*}*/

    .info_hotel .col-metro table > tbody > tr:first-child {
        display: none;
    }

    .list_offer .col-metro {
        display: none;
    }

}

@media (max-width: 570px) {
    ul.comfort li {
        font-size: 12px;
    }
}

@media (max-width: 370px) {
    ul.comfort li {
        font-size: 11px;
    }
}

/* offer */
.list_offer {
    padding-top: 60px;
}

.item_offer {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 3px solid #DADADA;
}

.item_offer:last-child {
    margin-bottom: 0;
    border-bottom: none;
}

.item_offer .header {
    padding-bottom: 14px;
}

.item_offer .header_title h3 {
    margin-bottom: 0;
    font-size: 1.4rem;
}

@media(max-width: 768px) {
    .item_offer .header_button {
        padding-top: 15px;
        text-align: center;
    }
}

@media (min-width: 768px) {
    .item_offer .header_button {
        text-align: right;
    }
}

/* alert */
.alert-danger {
    color: #dc3545;
    border-color: #f5c6cb;
}

.alert {
    position: relative;
    padding: 1rem 1.25rem;
    margin-bottom: 1.5rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert table {
    color: #dc3545;
}

.alert-date {
    border: 2px solid #f5c6cb;
    border-radius: 0;
}

.alert-date table {
    margin-bottom: 0;
}

.alert-date td {
    padding: 0;
}


/* carousel */
.carousel_images {
    position: relative;
}

.carousel_images:hover button {
    opacity: 1;
}

.carousel_images button {
    background-color: inherit;
    width: 18px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    top: 40%;
    z-index: 10;
    cursor: pointer;
    outline: none;
    margin: 10px;
    opacity: 0.3;
}

.icon_prev {
    background-image: url("../icons/prev.svg");
    border: none;
    left: 0;
}

.icon_next {
    background-image: url("../icons/next.svg");
    border: none;
    right: 0;
}

.space_content {
    height: 10px;
}

@media (max-width: 768px) {
    .carousel_images {
        padding-bottom: 20px;
    }

    .space_content {
        height: 50px;
    }
}
